<!-- 會計團隊成員邀請信件 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-size: 20px;
        }

        .accounting-title,
        .accounting-footer {
            padding: 36px 12px;
        }

        .accounting-text {
            padding: 12px;
        }
    </style>
</head>

<body>
    <div class="accounting-title">
        {{.Name}} 先生 / 小姐您好
    </div>

    <div class="accounting-text">
        {{.Invitor}} 邀請您加入 {{.Company}} 會計團隊
    </div>

    <div class="accounting-text">
        請點擊下列連結即可加入
    </div>

    <div class="accounting-text">
        {{.URL}}
    </div>

    <div class="accounting-footer">
        復升資訊
        雲端智能會計系統
    </div>
</body>

</html>